<h1> Find Your Perfect Place </h1>


<div class = "links">
<%= link_to "Sign up as a Property Buyer", new_buyer_path %>
</div><br><br>

<div class = "links">
<%= link_to "Sign up as a Property Seller", new_seller_path %>
</div><br><br>

<div class = "links">
<%= link_to "Log in", login_path %>
</div><br><br>




